@font-face {
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  font-family: 'Raleway';
  src: url(./assets/fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}
@font-face {
  font-style: italic;
  font-display: swap;
  font-weight: 400 700;
  font-family: 'Raleway';
  src: url(./assets/fonts/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
}
:root {
  --fs-base: 0.75rem;
  --base-size: 0.75rem;
  --size-extreme: 3rem;
  --white: hsl(0, 0%, 100%);
  --primary: hsl(228, 56%, 26%);
  --primary-gray: hsl(229, 7%, 55%);
  --primary-dark: hsl(229, 57%, 11%);
  --primary-light: hsl(243, 100%, 93%);
  --mobile-bg: url(./assets/images/bg-mobile.png);
  --desktop-bg: url(./assets/images/bg-desktop.png);
  --progress-gradient: hsl(6, 100%, 80%), hsl(335, 100%, 65%);

  @media (width > 60rem) {
    --fs-base: 0.875rem;
  }
}
@layer reset {
  *, *::before, *::after {
    box-sizing: border-box;
  }
  h1, p {
    margin: 0;
  }
  h1 {
    font-weight: 700;
    font-size: calc(var(--fs-base) * 2.5);
  }
  img {
    display: block;
    max-width: 100%;
  }
  ul {
    list-style: none;
    margin-block: 0;
    padding-inline: 0;
  }
}
@layer base {
  html {
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-base);
    color: var(--primary-light);
    min-block-size: calc(100vh - 1rem);
    background: var(--mobile-bg) center bottom / contain no-repeat var(--primary-dark);

    @media (width > 60rem) {
      background-image: var(--desktop-bg);
    }
  }
}
@layer layout {
  main {
    flex: 1 0 100%;
    margin-inline: auto;
    max-inline-size: min(60rem, 90%);

    @media (width > 60rem) {
      display: grid;
      align-items: flex-end;
      gap: calc(var(--base-size) * 3);
      grid-template-columns: 1fr 1.5fr;
    }
  }
  article {
    border-radius: var(--base-size);
    background-color: var(--primary);
    padding: calc(var(--size-extreme) - var(--base-size));
  }
  article:first-child {
    margin-block-end: var(--base-size);
    border-top-right-radius: calc(2 * var(--size-extreme));

    @media (width > 60rem) {
      margin-block-end: 0;
    }
  }
  article ul {
    display: flex;
    gap: var(--base-size);
    margin-block-start: calc(var(--size-extreme) / 1.5);
  }
  ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--base-size);
    border-radius: var(--base-size);
    min-inline-size: var(--size-extreme);
    background-color: var(--primary-dark);
  }
  article:last-child {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @media (width > 60rem) {
      align-items: flex-start;
    }
  }
  .progress-wrapper {
    --padding: calc(var(--base-size) / 6);
    display: flex;
    min-inline-size: 100%;
    padding: var(--padding);
    margin-block: var(--base-size);
    border-radius: var(--base-size);
    min-block-size: calc(var(--base-size) + 0.125rem);
    background-color: hsl(from var(--primary-dark) h s l / 0.5);
  }
  .progress-bar {
    display: flex;
    align-items: center;
    min-inline-size: 85%;
    padding: var(--padding);
    justify-content: flex-end;
    border-radius: var(--base-size);
    min-block-size: calc(var(--base-size) - 0.125rem);
    background-image: linear-gradient(to right, var(--progress-gradient));
    span {
      display: block;
      border-radius: 50%;
      min-block-size: calc(var(--base-size) - 0.125rem);
      min-inline-size: calc(var(--base-size) - 0.125rem);
      background-color: var(--white);
    }
  }
  .storage-info {
    order: 3;
    position: absolute;
    inset: auto auto 0;
    transform: translateY(50%);
    color: var(--primary-dark);
    padding-block: var(--base-size);
    border-radius: var(--base-size);
    background-color: var(--white);
    padding-inline: calc(var(--base-size) * 2);

    span {
      letter-spacing: 10%;
      vertical-align: middle;
      text-transform: uppercase;
      color: var(--primary-gray);
      font-size: calc(var(--fs-base) * 0.875);
    }

    @media (width > 60rem) {
      order: 1;
      transform: translateY(-50%);
      border-bottom-right-radius: 0;
      inset: 0 calc(var(--size-extreme) - var(--base-size)) auto auto;

      &::before {
        width: 0;
        height: 0;
        content: '';
        position: absolute;
        border-style: solid;
        inset: auto 0 calc(var(--base-size) * -2) auto;
        border-width: var(--base-size);
        border-color: var(--white) var(--white) transparent transparent; 
      }
    }
  }
  .progress-length {
    display: flex;
    font-weight: 700;
    min-inline-size: 100%;
    justify-content: space-between;
  }
  .attribution {
    bottom: 0.5rem;
    position: absolute;
    text-align: center;
    font-size: 0.6875rem;
    color: var(--primary-light);
  }
  .attribution a {
    color: var(--white);
  }
}
